#module-blog article {
  margin: 0.25em 0;
  padding: 1em;
  border: 1px solid;

  h3 {
    margin-bottom: 0;
  }
  .post-details span {
    font-size: 0.75em;

    & + span:before {
      content: "|";
      padding: 0.25em;
    }
  }
}

#module-blog .post-tags {
  margin-top: 0.5em;

  a.tag {
    height: 0.5em;
    line-height: 0.5em;
    color: #ffffff;
    background-color: #428bca;
    padding: 0.22em;
  }
}
